<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <header>
      <h3 class="logo"><a href="/">Express Todo</a></h3>
    </header>
  </body>
</html>
